*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(241, 139, 139);
  padding: 30px 0;
}

ul{
  list-style: none;
}

.pw-generator{
  max-width: 70vw;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  color: brown;
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

h1{
  margin-bottom: 15px;
}

h2{
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid gray;
  color: rgb(70, 66, 66);
  border-radius: 15px;
  box-shadow: 0 5px 0.5px rgba(0, 0, 0, 0.473);
  margin-bottom: 20px;
}